<h1 class="text-center" >#YasubeeFriends</h1>
<div id="photos">

  <% itr = @tweets.each %>
  <% loop do %>
    <div class="row">
    <% 3.times do %>
      <%= render partial: 'tweet', locals: { tweet: itr.next } %>
    <% end %>
    </div>
  <% end %>

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%= paginate(@tweets) %>
    </div>
  </div>

</div>

