# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0dbaefc4a6d071bbe878a8964858194ca2fe25547e5c565c4976663da5bcce83141f8ebe79d6abfc91e3166779850f51c3d7bb38b0db765023ceb923e9dd3023

test:
  secret_key_base: d810573e188d284214cbf187560a05756cae80a2fe1fc2a3e5687e892028f00e3162a9c6fa527343da9cf6ed45fde9cc2e26b140601a0394faee0b3db946f352

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
