@import "bootstrap";

body {
  background: image-url('bg.jpg') no-repeat center center fixed;
  padding: 60px 60px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#photos {
  padding-top: 20px;
}

.screen-name {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

